.filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .filter input {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 16px;
  }